In [2]:
import pandas as pd
df = pd.read_csv("heights.csv")
df.head()

    name  height
0  mohan     5.9
1  maria     5.2
2  sakib     5.1
3    tao     5.5
4  virat     4.9

In [4]:
right_threshold = df['height'].quantile(.95)
right_threshold

np.float64(9.689999999999998)

In [5]:
left_threshold = df['height'].quantile(0.05)
left_threshold

np.float64(3.6050000000000004)

### Now we are removing the outliers from extreme right and left ends. This technique requires domain knowledge to implement this method.

In [7]:
required_df = df[(df['height'] > left_threshold) & (right_threshold > df['height'])]
required_df

       name  height
0     mohan     5.9
1     maria     5.2
2     sakib     5.1
3       tao     5.5
4     virat     4.9
5    khusbu     5.4
6    dmitry     6.2
7    selena     6.5
8      john     7.1
10     jose     6.1
11  deepika     5.6
13    binod     5.5