In [26]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [27]:
df =  pd.read_csv("weight-height.csv")
df = df.drop('Weight', axis='columns')
df.head()

  Gender     Height
0   Male  73.847017
1   Male  68.781904
2   Male  74.110105
3   Male  71.730978
4   Male  69.881796

In [29]:
# Calculation Z-score
df['ZScore'] = (df.Height - df.Height.mean()) / df.Height.std();
df.head()

  Gender     Height    ZScore
0   Male  73.847017  1.943964
1   Male  68.781904  0.627505
2   Male  74.110105  2.012343
3   Male  71.730978  1.393991
4   Male  69.881796  0.913375

In [33]:
df[(df.ZScore > 3) | (df.ZScore < -3)]

      Gender     Height    ZScore
994     Male  78.095867  3.048271
1317    Male  78.462053  3.143445
2014    Male  78.998742  3.282934
3285    Male  78.528210  3.160640
3757    Male  78.621374  3.184854
6624  Female  54.616858 -3.054091
9285  Female  54.263133 -3.146027

In [37]:
df_outlier_removed = df[(df.ZScore < 3)  & (df.ZScore > -3)]

In [38]:
df_outlier_removed.shape

(9993, 3)